<section class="faq-section" id="faq">
    <div>
        <h2 class="capitalize">Most Common GCSE questions</h2>
        <a href="/#contact"><button class="bn9"><span>Book a FREE Consultation for more details</span></button></a>
    </div>
    <div class="faq">
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">How does the new 9-1 grading system compare to the old A*-F grades?</p>
                <p class="answer">The new grades go from 9 (the best) to 1 (the lowest). A grade 4 is like the old C grade, which is a pass.</p>
            </div>
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">How does GCSE Maths work, and what are the main parts of the course?</p>
                <p class="answer">GCSE Maths includes topics like numbers, shapes, data, and algebra. Students must achieve a minimum of grade 4 to pass.</p>
            </div>
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">What is the difference of Higher vs Foundation, and which one should my child aim for?</p>
                <p class="answer">There are two levels of GCSE Maths: Foundation (grades 1-5) and Higher (grades 4-9). The grade 4/5 content is the same for both exams.</p>
            </div>
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">What are the most important topics my child needs to learn in GCSE Maths?</p>
                <p class="answer">The main topics are algebra, shapes and probability. These topics appear most often.</p>
            </div>
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">When should I start getting ready for the exams?</p>
                <p class="answer">It's best to start revising early, but most students begin serious exam preparation in Year 10. Focus more on practice exams as the test date gets closer.</p>
            </div>
            <div class="card-faq box-shadow card-border-radius card-width"> 
                <p class="question">How long will it take to see improvements in my child's maths and grades?</p>
                <p class="answer">Improvement depends on how much effort your child puts in. Most students start seeing better results after a few months of regular practice.</p>
            </div>
    </div>
</section>