<footer>
    <p>© 2025 All rights reserved.</p>
    <nav class="nav-footer">
        <ul role="list">
            <li class="desktop-only"><a href="{{ site.url }}/#about"class="nav-link capitalize">About</a></li>
            <li><a href="{{ site.url }}/#story" class="nav-link capitalize">The Method</a></li>
            <li><a href="{{ site.url }}/#reviews" class="nav-link capitalize">reviews</a></li>
            <li><a href="{{ site.url }}/#contact" class="nav-link capitalize">contact</a></li>
            <li><a href="{{ site.url }}/blog" class="nav-link capitalize">blog</a></li>
        </ul>
    </nav>
</footer>