<div class="form-header">
    <h2 class="fancy-text capitalize text-center font-2 mb-2">i'd love to hear from you
        <span class="block font-3">get in touch</span>
    </h2>
    
    <div class="contact-other">
        <a href="https://wa.me/447956519802?text=Hi%20Giuliano!%20" target="_blank"
        rel="noreferrer noopener"><i class="bi bi-whatsapp" style="color: #25d366;"></i> WhatsApp</a>
    
        <!-- <a href="https://www.google.co.uk/maps/dir//GG+Maths+-+Private+Maths+Tutor,+45+Exeter+Rd,+London+N14+5JT/@51.6350783,-0.1431521,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761923e87f01e1:0xb59e62c483b997c!2m2!1d-0.1409634!2d51.6350783!3e0"
        target="_blank" rel="noreferrer noopener"><i class="bi bi-geo-fill" style="color: #960A0A;"></i> Location</a> -->
    </div>
</div>
<form class="form-container" action="https://formsubmit.co/81203bb59e62438040298023a63f8340" method="POST">

    <!-- Takes user to a thank you page -->
    <input type="hidden" name="_next" value="{{ site.url }}/thanks.html">

    <!-- Subject line -->
    <input type="hidden" name="_subject" value="Inquiry - Maths Tutoring - Giuliano">
    
    <!-- Avoid spam by fooling scrapers -->
    <input type="text" name="_honey" class="is-hidden">

    <!-- Autoresponse to users with copy of submission -->
    <input type="hidden" name="_autoresponse"
        value="Your submission has been received, and I will contact you as soon as possible. Thank you, Giuliano.">
    <div class="form-item form-name">
        <!-- <label class="capitalize" for="Name">Your Name</label> -->
        <input name="Name" id="name" type="text" class="form-input" placeholder="Name" aria-label="Your name" required>
    </div>
    <div class="form-item form-email">
        <!-- <label class="capitalize" for="Email">Your Email</label> -->
        <input name="Email" id="email" type="email" class="form-input" placeholder="Email" aria-label="Your email" required>
    </div>

    <!-- <div class="form-item form-phone">

        <input name="Phone" id="phone" type="tel" class="form-input" placeholder="Mobile" aria-label="Your Phone Number" required>
    </div> -->
    <!-- <div class="form-item form-option"> 
        <select name="Level" id="level" class="form-select" aria-label="Enter Your Level" required>
            <option value="" disabled selected>Select Your Tutoring Requirements</option>
            <option value="GCSE">GCSE</option>
            <option value="GCSE">GCSE Bootcamp</option>
            <option value="A-Level">A-Level</option>
            <option value="Olympiad">Olympiad</option>
            <option value="University">University Entrance</option>
        </select>
    </div> -->

    <div class="form-item form-message">
        <!-- <label class="capitalize" for="Message">Your Message</label> -->
        <textarea name="Message" name="textarea" class="form-input form-message" rows="5"
        placeholder="Your Message Here!" aria-label="Your Message" required></textarea>
    </div>

    <div class="form-btn-container">
        <button class="form-btn capitalize" type="submit">Make me great at maths <i class="bi bi-arrow-up-right"></i></i></button>
        <p class="text-center font--1">I will never share your info with anyone.</p>
    </div>
</form>
