<section class="reviews-section" id="reviews">
    {% assign profile_reviews = site.data.google_reviews.result %}
    <div class="reviews-container">
        <a href="{{ profile_reviews.url }}" target="_blank" rel="noopener" class="review">
            <p class="font-1 text-center">{{ profile_reviews.rating }}</p>
            <p class="text-center">⭐️⭐️⭐️⭐️⭐️</p>
            <p class="text-center fancy-text">Overall Rating</p>

            <p class="text-center">{{ profile_reviews.name }}</p>
            <p class="text-center">Based on {{ profile_reviews.user_ratings_total }} reviews</p>
        </a>

        {% for page in profile_reviews.reviews %}
            {% if page.rating == 5 %}
                <div class="review">
                    <div class="review-profile flex-row flex-align-center gap-1">
                        <img src="{{ page.profile_photo_url }}" width="40px" height="40px" alt="" srcset="">
                        <div>
                            <p>{{ page.author_name }}</p>
                            <p class="font--2">{{ page.relative_time_description }}</p>
                        </div>
                    </div>
                    <p>⭐️⭐️⭐️⭐️⭐️</p>
                    <p class="font--1">{{ page.text | truncate: 180 }}</p>
                    <!-- <a href="{{ page.author_url }}" target="_blank" rel="noopener">{{ page.author_url }}</a> -->
                    <a href="{{ page.author_url }}" target="_blank" rel="noopener" class="body-link">
                        <div class="flex-row flex-align-center gap-25">
                            <img src="/assets/images/google_g_icon_download.png" width="20px" height="20px">
                            <p class="capitalize font--1">read full review</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
<div class="text-center"><a class="button" href="https://calendly.com/gg-maths-tutoring/30min" target="_blank" rel="noopener noreferrer">Book a FREE Assessment</a></div>
