<a href="#nav" class="font-4 scroll-top" aria-label="scroll to top of page"><i class="bi bi-arrow-up-circle-fill"></i></a>
    <header id="nav">
        <nav class="nav-header">
            <a href="/" class="logo">{{ site.title }}</a>
            <ul role="list">
                <li><a href="/#story" class="nav-link capitalize">The Method</a></li>
                <li><a href="/#about" class="nav-link capitalize">About</a></li>
                <li><a href="/#reviews" class="nav-link capitalize">reviews</a></li>
                <li><a href="{{ site.url }}/blog" class="nav-link capitalize">blog</a></li>
            </ul>
            <a href="/#contact" class="btn capitalize">contact</a>
        </nav>
    </header>