<a href="#nav" class="font-4 scroll-top" aria-label="scroll to top of page"><i class="bi bi-arrow-up-circle-fill"></i></a>
    <header id="nav">
        <nav class="nav-header">
            <a href="/" class="logo">{{ site.title }}</a>
            <ul role="list">
                <li><a href="/#tutoring" class="nav-link">Tutoring</a></li>
                <li><a href="/#about" class="nav-link">About</a></li>
            </ul>
            <a href="/#contact" class="btn">contact</a>
        </nav>
    </header>