:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
  --step-6: clamp(2.3328rem, 1.7643rem + 2.8426vw, 3.9673rem);
  --step-7: clamp(2.7994rem, 2.0481rem + 3.7561vw, 4.9591rem);

  // --background-colour: #f5f5f5;
  // --clr-light: #f1f1f1;
  // --clr-dark: #1c375b;
  // --clr-accent: #0468BF;
  // --clr-accent-2: #049DD9;

  --clr-accent: #28a745;
	--clr-light: #f2f2f2; 
	--clr-dark: #2b3035;



  // --text-opacity: 0.9;
  --opacity-hover: 0.7;

  --gap: 1rem;
  --body-content-width: 65em;
  --fade-duration: 300ms;

  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --nice-shadow: 0px -1px 5px var(--clr-dark);
  --card-border-radius: 10px;

  --body-font: 'Kumbh Sans', sans-serif;

  --linear-grad: linear-gradient(to right, var(--clr-accent-2), var(--clr-accent)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


body {
  background-color: var(--background-colour);
  color: var(--clr-dark);
  font-family: var(--body-font);
  // overflow-x: hidden;
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  // background-image: radial-gradient(rgba(19, 152, 90, 0.3) 1px, transparent 0);
  // background-size: 35px 35px;
  // background-attachment: fixed;
}



body > * {
  margin-inline: auto;
  width: min(100% - 3rem, 70em);
}

main {
  --section-gap: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section-gap);
}

main > section:last-child {
  margin-bottom: var(--section-gap);
}

main p {
  opacity: var(--text-opacity);
  font-size: var(--step-0);
}

@media only screen and (max-width: 700px) {
  main {
    --section-gap: 2rem;
  }
}

.scroll-top {
  display: none;
  position: fixed;
  width: fit-content;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  color: var(--clr-accent);
  font-weight: bold;
}


/* Header */
header {
  display: flex;
  padding-top: 1em;
  justify-content: space-evenly;
}


.nav-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.nav-header > ul {
  display: flex;
  gap: 2em;
}
.nav-link {
  opacity: var(--text-opacity);
}

.logo {
  font-size: var(--step-1);
  color: var(--clr-accent);
  text-transform: capitalize;
}
@media only screen and (max-width: 700px) {
  header {
      padding-block: 1em;
      margin-bottom: 1em;
  }
  header .btn {
      display: none;
  }

  .nav-header > ul {
    gap: 1em;
    flex-wrap: wrap;
  }
}


// Button Designs

.btn {
  border: 2px solid var(--clr-dark);
  padding: 0.5rem 1.8rem;
  border-radius: 40px;
  background-color: var(--background-colour);
  color: var(--clr-accent);
  width: fit-content;
}

.btn-inverse {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
} 
.btn:hover,
.btn-inverse:hover {
  opacity: 0.8;
}

/* Main */

/* Hero */
.hero {
  display: grid;
  align-items: center;
  min-height: 80vh;
  min-height: 80svh;
  // background-color: rebeccapurple;
}

.hero-body {
  display: grid;
  // grid-template-columns: 3fr 1fr;
  // padding-bottom: 4rem;
}


.hero-body-title h1 {
  max-width: 50ch;
  // text-wrap: pretty;
  font-weight: 500;
}
.hero-body-title h2 {
  max-width: 40ch;
  font-weight: 300;
  // text-wrap: pretty;
}
.hero-body-title {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-content-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.hero-reviews-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-body-img img {
  object-fit: contain;
  width: min(100%, 300px);
  margin-inline: auto;
  border-radius: 10px;
}

.hero-list {
  display: grid;
  gap: 1rem;
}
/* Container for the list */
.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
  margin-bottom: 2rem;
  max-width: 50em;
}

/* Style each list */
.list {
  list-style: none;
  justify-self: center;
}
.list .bi-check-circle-fill,
.list .bi-youtube,
.list .bi-graph-up-arrow {
  margin-right: 7px;
  color: var(--clr-accent);
}
.list li {
  /* font-size: 1em; */
  margin: 10px 0;
  text-align: left;  
}



/* Responsive design */
@media (max-width: 736px) {
  .hero-body {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    isolation: isolate;
    padding-bottom: 4rem;
    text-align: center;
  }
  .hero-reviews-content {
    display: none;
  }
  .hero-list > *:not(.list-contact){
    display: none;
  }

  .hero-body-img img {
    display: none;
  }
}


.article {
  // background-color: red;
  max-width: 40em;
  display: grid;
  gap: 1em;
  margin-inline: auto;

}

.article blockquote {
  font-size: var(--step-0);
  font-style: italic;
  max-width: 40ch;
  margin-inline: auto;
  text-align: center;
}

.article blockquote footer {
  background-color: red;
  margin-left: auto;
}

// Warning
.warning .bi {
  color: red;
  font-size: 12rem;
}

.article .bi-graph-up-arrow {
  color: var(--clr-accent);
  font-size: 12rem;

}


// FAQ  

.faq-section {
  display: grid;
  gap: 2rem;
}

.faq {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(370px, 100%), 1fr));

  column-gap: 2em;
  row-gap: 1em;

}

.card-faq {
  background-color: var(--clr-light);
  padding: 1rem 1.25rem;
  border: 1px solid var(--clr-accent);
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.question {
  font-size: var(--step-0);
}
.question::before {
  content: "Q: ";
  color: #0468BF;
  font-size: var(--step-1);
}

.answer {
  font-size: 18px;
}
.answer::before {
  content: "A: ";
  color: #164831;
  font-size: var(--step-2);
}

.faq-questions > :first-child {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 736px) {
  .hero {
    min-height: 70vh;
    min-height: 70svh;
  }
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

  column-gap: 2em;
  row-gap: 1em;
  margin-inline: auto;
}
.card {
  background-color: var(--clr-light);
  padding: 5px 1rem 1rem;
  border: 1px solid var(--clr-accent);
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// .tutoring-subjects-container {
//   display: grid;
//   grid-template-areas: 
//   "a a"
//   "b c"
//   "d e";
//   width: min(100%, 70em);
//   margin-inline: auto;
//   grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
//   row-gap: 2em;
//   column-gap: 2em;
//   margin-bottom: 10em;
// }
// @media (width < 800px) {
//   .tutoring-subjects-container {
//       display: grid;
//       grid-template-areas: 
//       "a"
//       "b"
//       "c"
//       "d"
//       "e";
//   }
// }


// .tutoring-subjects-container > p:nth-child(1) {
//   grid-area: a;
// }
// .tutoring-subjects-container > p:nth-child(2) {
//   grid-area: b;
// }
// .tutoring-subjects-container > p:nth-child(3) {
//   grid-area: c;
// }
// .tutoring-subjects-container > p:nth-child(4) {
//   grid-area: d;
// }
// .tutoring-subjects-container > p:nth-child(5) {
//   grid-area: e;
// }


@media (width < 900px) {
  .card {
      padding: 10% 1rem 1rem;
  }
}
/* About me */
.about-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  max-width: var(--body-content-width);
  margin-inline: auto;
  align-items: center;
  gap: 2em;
}


.about-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90ch;
}

.about-img > img {
  object-fit: contain;
  width: min(100%, 300px);
  margin-inline: auto;
  border-radius: 10px;
}

// Coach

.coach-container {
  display: grid;
  place-content: center;
  max-width: var(--body-content-width);
  gap: 2em;
}


.coach-body {
  display: grid;
  place-content: center;
  gap: 2rem;
  max-width: 65ch;
}

/* Youtube */
.youtube-container {
  display: grid;
  row-gap: 1em;
}

.youtube-video {
  text-align: center;
  aspect-ratio: 16 / 9;
  width: min(100%, 30em);
  margin-inline: auto;
  
}



@media only screen and (max-width: 900px) {
  .about-container,
  .youtube-container {
      grid-template-columns: 1fr;
      place-items: center;
      gap: 2rem;
  }
  .about-img > img {
      max-width: 250px;
  }
}

/* Pricing */

.pricing {
  display: grid;
}

.pricing-card {
  background-color: var(--clr-light);
  padding: 2rem 2rem 1rem;
  border: 1px solid rgb(42, 42, 42);
  box-shadow: var(--nice-shadow);
  border-radius: var(--card-border-radius);

  width: min(100%, 800px);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-card-benefits { 
  display: grid;
  gap: 30px;
  text-wrap: pretty;
  padding-inline: 1.25rem;
}




/* Reviews */
// .reviews-title {
//   display: grid;
//   place-items: center;
//   margin-bottom: 5rem;
// }
// .review-container {
//   /* display: grid; */
//   columns: 3 280px;
//   column-gap: 3rem;
  
// }
// @media only screen and (max-width: 320px) {
//   .review-container {
//       column-width: 100%;
//   }
// }

// .review-card {
//   break-inside: avoid;
//   page-break-inside: avoid;
  
//   margin-top: 2rem;
//   background-color: var(--clr-light);
//   padding: 20% 1rem 2rem;
//   border: 1px solid rgb(42, 42, 42);

//   display: flex;
//   flex-direction: column;
//   gap: 2rem;

//   position: relative;
// }


// .review-card > p:last-child {
//   margin-top: auto;
//   text-transform: capitalize;
// }


/* Form */
// .form-section {
//   width: min(65em, 100%);
//   margin-inline: auto;
// }

.form-header {
  display: grid;
  gap: 0.5em;
  justify-content: center;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: min(100%, 60em);
  margin-inline: auto;
}
@media only screen and (max-width: 700px) {
  .form-container {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}

.contact-other {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.contact-other > a {
  font-size: var(--step-2);
  text-decoration: underline;
  color: var(--clr-accent);
}
.contact-other > a:hover {
  opacity: var(--opacity-hover);
}
.form-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #164831;
  border-radius: 4px;
}

.form-item > label {
  opacity: var(--text-opacity);
  font-size: var(--step-0);
}

.form-item > input,
.form-item > textarea, 
.form-item > select {
  background-color: var(--clr-light);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--clr-dark);
  resize: vertical;
}

.form-message {
  grid-column: 1 / -1;
}

.form-btn-container {
  grid-column: 1 / -1;
  display: grid;
  gap: 0.25rem;

}
.form-btn {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: var(--clr-light);
  font-size: var(--step-1);
  background-color: var(--clr-accent);
  // background-image: var(--linear-grad);
}

.form-btn:hover {
  opacity: var(--opacity-hover);
}


/* Footer */
footer {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 40em;
}

.nav-footer {
  justify-self: end;
  
}

.nav-footer > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

