
.bi {
    opacity: var(--text-opacity);
}
:focus-visible {
  outline: 4px solid var(--clr-accent);
  outline-offset: 3px;
}

h1 {
  line-height: 1.5;
  font-size: var(--step-4);
}

a {
  text-decoration: none;
  color: var(--light-clr);
}
a:hover {
  opacity: var(--opacity-hover);
}

.list-style-none {
  list-style: none;
}

.body-link {
  text-transform: lowercase;
  color: var(--clr-accent);
  text-decoration: underline;
}
.body-link:hover {
  opacity: var(--opacity-hover);
}

.is-hidden {
  display: none;
}

@media only screen and (min-width: 651px) {
  .desktop-only {
    display: inline-block;
  }
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .mobile-only {
    display: inline-block;
  }

  .desktop-only {
    display: none;
  }

}

.box-shadow {
  box-shadow: var(--nice-shadow);
}

.card-border-radius {
  border-radius: var(--card-border-radius);
}

.card-width {
  width: 98%;
  margin-inline: auto;
}

/* Font */
.font--2 {
  font-size: var(--step--2);
}

.font--1 {
  font-size: var(--step--1);
}

.font-0 {
  font-size: var(--step-0);
}

.font-1 {
  font-size: var(--step-1);
}

.font-2 {
  font-size: var(--step-2);
}

.font-3 {
  font-size: var(--step-3);
}

.font-4 {
  font-size: var(--step-4);
}

.font-5 {
  font-size: var(--step-5);
}

.font-6 {
  font-size: var(--step-6);
}
.font-7 {
  font-size: var(--step-7);
  line-height: 1.35;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}


.text-center {
  text-align: center;
}


.mx-auto {
  margin-inline: auto;
}

.block {
  display: block;
}

.mb-2 {
  margin-bottom: 2rem ;
}
.mt-2 {
  margin-top: 2rem ;
}

.mb-4 {
  margin-bottom: 4rem ;
}
.mt-4 {
  margin-top: 4rem ;
}

.capitalize {
  text-transform: capitalize;
}

.fancy-text {
  color: var(--clr-accent);
}

//  widths
.ch-50 {
  max-width: 50ch;
}

.ch-60 {
  max-width: 60ch;
}

.ch-70 {
  max-width: 70ch;
}

.ch-80 {
  max-width: 80ch;
}

// Flex

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.gap-25 {
  gap: 0.25em
}

.gap-50 {
  gap: 0.50em
}

.gap-75 {
  gap: 0.75em
}

.gap-1 {
  gap: 1em
}
.gap-2 {
  gap: 2em
}


// Buttons
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1rem;
  max-width: 32rem;
  height: 3.75em;
  line-height: 3.75em;
  border-radius: 3.75em;
  padding: 0 2.25rem;
  text-overflow: ellipsis;
  overflow: hidden;

  background-color: var(--clr-accent);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
}

@media (max-width: 736px) {
  .button {
    font-size: 0.8rem;
    max-width: 20rem;
  }
}

// .bn9 {
//   padding: 3px;
//   outline: 0;
//   font-size: 17px;
//   color: #000;
//   background: -webkit-gradient(linear, left top, right top, from(#fdde5c), color-stop(#f8ab5e), color-stop(#f56a62), color-stop(#a176c8), color-stop(#759beb), color-stop(#65beb3), to(#70db96));
//   background: linear-gradient(to right, #fdde5c, #f8ab5e, #f56a62, #a176c8, #759beb, #65beb3, #70db96);
//   border-radius: 30px;
//   border: 0;
//   box-shadow: none;
//   cursor: pointer;
// }
// .bn9>span {
//   display: block;
//   padding: 12px 40px;
//   font-size: 17px;
//   font-weight: 500;
//   background: #fafafa;
//   border-radius: 30px;
// }