
.bi {
    opacity: var(--text-opacity);
}
:focus-visible {
  outline: 4px solid var(--clr-accent);
  outline-offset: 3px;
}

h1 {
  line-height: 1.5;
  font-size: var(--step-4);
}

a {
  text-decoration: none;
  text-transform: capitalize; 
  color: var(--light-clr);
}
a:hover {
  opacity: var(--opacity-hover);
}

.list-style-none {
  list-style: none;
}

.body-link {
  text-transform: lowercase;
  color: var(--clr-accent);
  text-decoration: underline;
}
.body-link:hover {
  opacity: var(--opacity-hover);
}

.is-hidden {
  display: none;
}

.box-shadow {
  box-shadow: var(--nice-shadow);
}

.card-border-radius {
  border-radius: var(--card-border-radius);
}

.card-width {
  width: 98%;
  margin-inline: auto;
}
/* Font Size */
.font--2 {
  font-size: var(--step--2);
}

.font--1 {
  font-size: var(--step--1);
}

.font-0 {
  font-size: var(--step-0);
}

.font-1 {
  font-size: var(--step-1);
}

.font-2 {
  font-size: var(--step-2);
}

.font-3 {
  font-size: var(--step-3);
}

.font-4 {
  font-size: var(--step-4);
}

.font-5 {
  font-size: var(--step-5);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

.block {
  display: block;
}

.mb-2 {
  margin-bottom: 2rem ;
}
.mt-2 {
  margin-top: 2rem ;
}

.mb-4 {
  margin-bottom: 4rem ;
}
.mt-4 {
  margin-top: 4rem ;
}

.capitalize {
  text-transform: capitalize;
}

.fancy-text {
  // text-transform: capitalize;
  background-image: var(--linear-grad);
  background-clip: text;
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; 
}

//  widths


.ch-50 {
  max-width: 50ch;
}

.ch-60 {
  max-width: 60ch;
}

.ch-70 {
  max-width: 70ch;
}

.ch-80 {
  max-width: 80ch;
}

// Flex

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.gap-25 {
  gap: 0.25em
}

.gap-50 {
  gap: 0.50em
}

.gap-75 {
  gap: 0.75em
}

.gap-1 {
  gap: 1em
}
.gap-2 {
  gap: 2em
}