---
layout: default
title: "A-Level Topic Booklets"
permalink: /aleveltopics
custom_css: secondary
---

<main>
    <section class="explain-container">
        <h1>A-Level Topics</h1>
        <h2 class="capitalize">How this works</h2>
        <p class="font-0">
            These booklets contain every exam question from the A-Level Edexcel papers sorted by topic.
        </p>
        <ul class="key-points">
            <h3>Key points:</h3>
            <li class="font--1">Please check the box upon completing a topic. I recommend using one device and a non-private browsing mode to ensure changes are saved.</li>
            <li class="font--1">I have arranged the questions in order of difficulty for you.</li>
            <li class="font--1">Aim to complete every question per booklet. </li>
        </ul>
    </section>

    <section class="topics-grid-container">

    <div class="progressbar-container">
        <p>My Progress</p>
        <div class="progressbar">
            <span>This feature requires js 😔</span>
        </div>
    </div>

        <div class="grade-4-container">
            <h3 class="fancy-text font-4 ">AS-Level</h3>
            <ul class="topics flex-column gap-25">
                {% for file in site.static_files %}
                {% if file.path contains 'assets/as-level/' and file.extname == '.pdf' %}
                {% assign topic_id = file.name | split: '.' | first %}
                <li class="list-style-none">
                    <input type="checkbox" id="checkbox_{{ topic_id }}" data-topic-id="{{ topic_id }}">
                    <a id="topic_{{ topic_id }}" target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="grade-7-container">
            <h3 class="fancy-text font-4 "><A-Level></A-Level></h3>
            <ul class="topics flex-column gap-25">
                {% for file in site.static_files %}
                {% if file.path contains 'assets/a-level/' and file.extname == '.pdf' %}
                {% assign topic_id = file.name | split: '.' | first %}
                <li class="list-style-none">
                    <input type="checkbox" id="checkbox_{{ topic_id }}" data-topic-id="{{ topic_id }}">
                    <a id="topic_{{ topic_id }}" target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

</main>

<script defer src="{{ site.url }}/assets/js/topics.js"></script>