---
layout: default
title: "Maths Tutoring Blog"
permalink: /blog
custom_css: blog
katex: True
---


<main class="blog-page">
    <section class="mt-2 ch-80 text-center mx-auto">
        <p>This is a collection of my <strong>best tips and advice </strong>for students of all levels.</p> 
        <p>Over the past decade, I've seen what works, and these articles will help you <strong>improve your maths with simple strategies.</strong></p>
    </section>
    <section class="blog-container ">
        {% for post in site.posts limit: 1 %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
            <a href="{{ post.url }}" class="blog-card blog-card-main">
                <img src="{{ post.title-image }}" alt="">
                <div class="blog-card-content blog-card-content-main">
                    <div>
                        <h2 class="post-title">{{ post.title }}</h2>
                        <p class="post-desc">{{ post.content | markdownify | strip_html | truncatewords: 13 | capitalize }}</p>
                    </div>
                    <p class="post-date">{{ post.author }} - {{ post.date | date_to_string }}</p>
                </div>
            </a>
        {% endfor %}

        {% for post in site.posts offset:1 limit:2 %}
            <a href="{{ post.url }}" class="blog-card blog-card-side">
                <img src="{{ post.title-image }}" alt="">
                <div class="blog-card-content blog-card-content-side">
                    <h2 class="post-title font-0">{{ post.title }}</h2>
                    <p class="post-desc font--1">{{ post.content | markdownify | strip_html | truncatewords: 10 | capitalize }}</p>
                    <p class="post-date font--2">{{ post.author }} - {{ post.date | date_to_string }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

    <section class="blog-other">
        <h2 class="text-center font-3">Most Popular</h2>
            {% for post in site.posts offset:3 limit:8 %}
                <a href="{{ post.url }}" class="blog-other-link">
                    <div class="blog-other-content">
                        <h2 class="post-title font-0 capitalize">{{ post.title }}</h2>
                        <p class="post-desc font--1">{{ post.content | markdownify | strip_html | truncatewords: 20 | capitalize }}</p>
                        <p class="post-date font--2">{{ post.author }} - {{ post.date | date_to_string }}</p>
                    </div>
                </a>
                <hr>
            {% endfor %}
    </section>





</main>