---
layout: default
title: "GCSE Exam Booklets"
permalink: /gcsetopics
custom_css: secondary
---

<main>
    <nav class="grade-nav">
        <h1>GCSE Topics</h1>
        <ul role="list">
            <li><a href="#grade-4" class="font-1 body-link capitalize">grade 4</a></li>
            <li><a href="#grade-5" class="font-1 body-link capitalize">grade 5</a></li>
            <li><a href="#grade-6" class="font-1 body-link capitalize">grade 6</a></li>
            <li><a href="#grade-7" class="font-1 body-link capitalize">grade 7</a></li>
            <li><a href="#grade-8" class="font-1 body-link capitalize">grade 8/9</a></li>
        </ul>
    </nav>


    <section class="">
        <h3 class="fancy-text font-4 ">Grades 4 - 6</h3>

        {% for pdf in site.static_files %}
            {% if pdf.path contains 'Grade_4-6' %}
                {% for paper in pdf.path %}
                    <li><a target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">{{ pdf.name | replace: '_', " " | remove: ".pdf"}}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </section>

    <section class="">
        <h3 class="fancy-text font-4 ">Grades 7 - 9</h3>

        {% for pdf in site.static_files %}
            {% if pdf.path contains 'Grade_7-9' %}
                {% for paper in pdf.path %}
                    <li><a target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">{{ pdf.name | replace: '_', " " | remove: ".pdf"}}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </section>

</main>