---
layout: default
title: "GCSE Topic Booklets"
permalink: /topicsgcse
custom_css: secondary
show_gigi: false
---

<main>
    <section class="explain-container mt-2">
        <h1>GCSE Topics</h1>
        <h2 class="capitalize">How this works</h2>
        <p class="font-0">
            These booklets contain every exam question from the Edexcel GCSE & IGCSE papers sorted by topic.
        </p>
        <ul class="key-points">
            <h3>Key points:</h3>
            <li class="font--1">Please check the box upon completing a topic. I recommend using a non-private browsing mode to ensure changes are saved.</li>
            <li class="font--1">IGCSE Maths is the international version of GCSE Maths. Both are by Edexcel, and the questions are very similar.</li>
            <li class="font--1">I have arranged the questions in order of difficulty for you.</li>
            <li class="font--1">Grade 4-6 topics will still contain grade 7+ questions towards the end, so you should attempt them.</li>
            <li class="font--1">Aim to complete at least the first ten questions per booklet. </li>
        </ul>
    </section>
    
    <section class="topics-grid-container">
        
        <div class="progressbar-container">
            <p>My Progress</p>
            <div class="progressbar">
                <span>This feature requires js 😔</span>
            </div>
        </div>
        
        <div class="streak-container">
            <div id="streakDisplay"></div>
        </div>

        <p class="mx-auto ch-70 "><strong>NOTE</strong>: Topics that are crossed out are intended for <strong>Year 11 students</strong>. These are questions that have already appeared in past exams and <strong>do not require further revision</strong>.</p>

        <div class="two-col-container">

            <div class="grade-4-container">
                <h3 class="fancy-text font-4 ">Grades 4 - 6</h3>
                <ul class="topics flex-column gap-25">
                    {% for file in site.static_files %}
                    {% if file.path contains 'assets/grade_4-6/' and file.extname == '.pdf' %}
                    {% assign topic_id = file.name | split: '.' | first %}
                    <li class="list-style-none">
                        <input type="checkbox" id="checkbox_{{ topic_id }}" data-topic-id="{{ topic_id }}">
                        <a id="topic_{{ topic_id }}" target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="grade-7-container">
                <h3 class="fancy-text font-4 ">Grades 7 - 9</h3>
                <ul class="topics flex-column gap-25">
                    {% for file in site.static_files %}
                    {% if file.path contains 'assets/grade_7-9/' and file.extname == '.pdf' %}
                    {% assign topic_id = file.name | split: '.' | first %}
                    <li class="list-style-none">
                        <input type="checkbox" id="checkbox_{{ topic_id }}" data-topic-id="{{ topic_id }}">
                        <a id="topic_{{ topic_id }}" target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="grade-9-container">
                    <h3 class="fancy-text font-4 ">Grades 9 Exams</h3>
                    <ul class="topics flex-column gap-25">
                        {% for pdf in site.static_files %}
                            {% if pdf.path contains 'grade_9_exams' %}
                                {% for paper in pdf.path %}
                                <li style="margin-left: 1rem;">
                                    <!-- <input type="checkbox" id="{{ i }}"> -->
                                    <a id="topic" target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">{{ pdf.name | replace: '_', " " | remove: ".pdf" | remove: "Grade 9"}}</a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </section>

</main>

<script defer src="{{ site.url }}/assets/js/topics.js"></script>
<script defer src="{{ site.url }}/assets/js/streak.js"></script>

<script>
    const topics = document.querySelectorAll('a[id^="topic_"]');

    const gcse = /\bgcse\b/gi
    const igcse = /\bigcse\b/gi
    topics.forEach(element => {
        title = element.text;
        if (title.match(gcse)) {
            element.style.color = "red";
        } else if (title.match(igcse)) {
            element.style.color = "blue";
        }
    });



    const patterns = [
            /\bHCF LCM Prime Factors\b/gi,
            /\bDirect & Inverse Proportion\b/gi,
            /\bSurds\b/gi,
            /\bRecurring Decimals\b/gi,
            /\bProbability Grade 8\+\b/gi,
            /\bPolygons\b/gi,
            /\bTransformations\b/gi,
            /\bSpeed Distance Time Graphs\b/gi,
            /\bFunctions \(GCSE\)\b/gi,
            /\bFunctions \(IGCSE\)\b/gi,
            /\bProbabality Tables\b/gi,
            /\bRatio 1\b/gi,
            /\bSimilar Shapes Length\b/gi,
            /\bProof\b/gi,
            /\bGraphs Plotting\b/gi,
            /\bStandard Form\b/gi


        ];

        topics.forEach(element => {
            const title = element.text;

            // Loop through each pattern
            patterns.forEach(pattern => {
                if (pattern.test(title)) {
                    element.style.textDecoration = "line-through";
                }
            });
        });
</script>