---
layout: default
title: How to get a Grade 4 - Maths GCSE
permalink: /grade4-questions
mailerlite: true
custom_css: 
    - group-lessons
    - secondary
---

<main>
    <!-- Grade 4 -->
    <section class="mb-4 mt-2">
        <div class="article" id="how-to-get-a-grade-4">
            <h1 id="grade-4" class="grade-title font-4 text-center fancy-text">How to Get a Grade 4 (Without the Stress)</h1>
            <p>These are the first four questions from every GCSE Maths exam since 2017.</p>
            <p>Quick heads up: <strong>this isn't a miracle cure.</strong> These booklets show you what Grade 4 questions look like - but <strong>you'll still need to put the work in.</strong></p>
            <p>I've sorted them by paper and split them into mini booklets (about 8 questions each) - nice and manageable.

            </p>
        </div>
        <div class="lists">
            <ul class="paper paper-1">
                <h3 class="paper-title fancy-text">Paper 1H <span class="block">non-calculator</span></h3>
                <ul class="booklets">
                    {% assign i = 0 %}
                    {% for pdf in site.static_files %}
                        {% if pdf.path contains 'paper_1_exam/Grade 4' %}
                            {% for paper in pdf.path %}
                            {% assign i = i | plus:1 %}
                                <li><a target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">Exam {{ i }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </ul>
                <ul class="mocks">
                    {% for page in site.data.videos.grade_4_paper_1_links %}
                        <li><a target="_blank" rel="noopener" href="{{ page.url }}">{{ page.name }} <i class="bi bi-youtube"></i> </a></li>
                    {% endfor %}
                </ul>
            </ul>
            <ul class="paper paper-2">
                <h3 class="paper-title fancy-text">Paper 2H <span class="block">calculator</span></h3>
                <ul class="booklets">
                    {% assign i = 0 %}
                    {% for pdf in site.static_files %}
                        {% if pdf.path contains 'paper_2_exam/Grade 4' %}
                            {% for paper in pdf.path %}
                            {% assign i = i | plus:1 %}
                                <li><a target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">Exam {{ i }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="mocks">
                    {% for page in site.data.videos.grade_4_paper_2_links %}
                        <li><a target="_blank" rel="noopener" href="{{ page.url }}">{{ page.name }} <i class="bi bi-youtube"></i> </a></li>
                    {% endfor %}
                </ul>
            </ul>
            <ul class="paper paper-3">
                <h3 class="paper-title fancy-text">Paper 3H <span class="block">calculator</span></h3>
                <ul class="booklets">
                    {% assign i = 0 %}
                    {% for pdf in site.static_files %}
                        {% if pdf.path contains 'paper_3_exam/Grade 4' %}
                            {% for paper in pdf.path %}
                            {% assign i = i | plus:1 %}
                                <li><a target="_blank" rel="noopener" href="{{ site.url }}{{ pdf.path }}">Exam {{ i }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="mocks">
                    {% for page in site.data.videos.grade_4_paper_3_links %}
                        <li><a target="_blank" rel="noopener" href="{{ page.url }}">{{ page.name }} <i class="bi bi-youtube"></i> </a></li>
                    {% endfor %}
                </ul>
            </ul>
        </div>


        <div class="mt-2">
            {% include form.html %}
        </div>


    </section>
</main>