---
layout: default
title: "MAT Past Papers"
permalink: /oxford-mat
custom_css: secondary
---

<main>

    <section class="explain-container">
        <h1>MAT 2007 - 2023</h1>
        <h2 class="capitalize">How this works</h2>
        <p class="font-0">
            In this section, you will find all the MAT past papers from 2007 to now, along with the official mark schemes from Oxford. There were some small changes in 2018, but the main content has stayed the same since 2007. 
        </p>
        <ul class="key-points">
            <h3>Key points:</h3>
            <li class="font--1">The pass mark is usually 80+ marks per paper!</li>
            <li class="font--1">Question 1 has ten multiple-choice parts, each worth 4 marks. Show any rough work in the answer booklet and record answers on the grid.</li>
            <li class="font--1">Questions 2 to 6 should be answered in the designated spaces in the answer booklet, with each worth 15 marks. You can continue your answers on the blank pages if needed.</li>
        </ul>
    </section>

    <section class="topics-grid-container">

        <div class="progressbar-container">
            <p>My Progress</p>
            <div class="progressbar">
                <span>This feature requires js 😔</span>
            </div>
        </div>

        <div class="pure-section">
            <hr>
            <h2 class="text-center font-5">MAT Oxford</h2>
            <div class="two-col-container">
                <div class="grade-4-container">
                    <h3 class="fancy-text font-4 ">Past Papers</h3>
                    <ul class="topics flex-column gap-25">
                        {% for file in site.static_files reversed %}
                        {% if file.path contains 'assets/mat/exams' and file.extname == '.pdf' %}
                        {% assign topic_id = file.name | split: '.' | first %}
                        <li class="list-style-none">
                            <input type="checkbox" id="checkbox_{{ topic_id }}" data-topic-id="{{ topic_id }}">
                            <a id="topic_{{ topic_id }}" target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="grade-4-container">
                    <h3 class="fancy-text font-4 ">Solutions</h3>
                    <ul class="topics flex-column gap-25">
                        {% for file in site.static_files reversed %}
                        {% if file.path contains 'assets/mat/solutions' and file.extname == '.pdf' %}
                        {% assign topic_id = file.name | split: '.' | first %}
                        <li class="list-style-none">
                            <a target="_blank" rel="noopener" href="{{ site.url }}{{ file.path }}">{{ file.name | replace: '_', " " | remove: ".pdf"}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
        </div>
        <hr>


    </section>
</main> 


<script defer src="{{ site.url }}/assets/js/topics.js"></script>