---
layout: default
---


<body>
    <main>
        <section class="blog__body mt-2">
            <h1 class="mt-2 mb-2">{{ page.title }}</h1>
            {% if page.title-image %}
                <img src="{{ page.title-image }}" alt="">
            {% endif %}
            {{ content }}
            <p>By {{ page.author }}</p>
            <a class="capitalize" href="https://calendly.com/gg-maths-tutoring/30min?month=2025-02" target="_blank" rel="noopener noreferrer">Book a free consultation with me here</a>
        </section>
    </main>
    
</body>

